*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 60px;
    width: 113px;
    
}
.logo{
    background-image: url("images/logo.jfif");
    background-position: center;
    background-size:cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid wheat;
}

#first {
    color: #CCCCCC;
    font-size: 14px;
    margin-left: 15px;

}

#second {
    color: #FFFFFF;
    font-size: 12px;
    
}


.locationicon {
    display: flex;
}

.searchbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(177, 175, 53, 0.767);
    width: 620px;
    height: 40px;
    border-radius: 3px;
}  

.All {
    background-color: #E6E6E6;
    color: #0f1111;
    width: 46px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

#searchinput {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchicon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.first-sign{
    font-size: 12px;

}

.second-sign {
    font-size: 14px;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85 rem;
}

.panel {
    height: 39px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panelops p{
    display: inline;
    padding-right: 40px;

}

.panelops {
    width: 90%;

}

.section-hero {
    background-image: url("images/cover.jpg");
    background-size: cover;
    height: 300px;

}

.box {
    height: 400px;
    border: 2px solid black;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.shopsection {
    display: flex;
    justify-content: space-evenly;

}

.boximage {
    background-image: url("images/OIP.jfif");
    background-size: cover;
    height: 300px;  
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.boxcontent {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    margin-top: 20px;
}
.footerbacktotop {
    height: 49px;
    
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.panel2 {
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}

.panel2 li {
    list-style: none;
}

ul {
    margin-top: 20px;
}
